<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>004E5F48-BE50-4110-A95C-4C9A372EDBC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1118175-496E-4207-91DC-810F004F75F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>067AE180-E80E-4CFA-BB84-BAA7104DC334</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F51B644-0478-43E3-8BAF-1148F6DCE974</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1170BE95-A1FA-475B-B4E3-FF0D4237666E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30F445DD-7F17-4A9A-BD3A-DC96B9E0AAA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3489ADDC-E099-45DA-9CD6-7B77CEF5C451</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F51B644-0478-43E3-8BAF-1148F6DCE974</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C55B308-2C59-48A7-990F-FA980AE355EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30F445DD-7F17-4A9A-BD3A-DC96B9E0AAA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B92ECFC3-4883-4D80-940F-3A17F40CFD8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3489ADDC-E099-45DA-9CD6-7B77CEF5C451</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9F13870-4E80-49E5-BC1F-6556E7A5DA63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>441DEA79-E71C-4E34-99B4-0786C3B74D74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6CE3278-53A0-410E-94FD-8C5499A8FEB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D316710-16A3-420B-BFC3-28346F6879A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBC42058-3690-47BF-B8DC-DCF4E2CF50E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61681EB8-51E9-42B0-8C75-3389B875D560</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>004E5F48-BE50-4110-A95C-4C9A372EDBC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F6435BB-ACD5-4CE4-804F-61A01444327C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F4D309A-878C-4057-952B-4FE2B096ED04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>710670AA-2303-4C7B-83BE-8E62D6D4D27D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B01061CB-D37F-4E05-BD64-1D56494D9C3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74792D98-3F07-40F1-8767-98B27C2BC515</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A590333-7EFF-4334-8D4A-DCDD7B13C63D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79659EFD-9725-4DED-97A4-A2350025298B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1EF6D0B-C60E-497D-8B64-B281D49C8B2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AB40FA0-4F42-46A5-B99E-0B99E0D5F3E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>441DEA79-E71C-4E34-99B4-0786C3B74D74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F4D309A-878C-4057-952B-4FE2B096ED04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E50AFBB3-8E87-4A67-B98F-84E123C8BF7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C55B308-2C59-48A7-990F-FA980AE355EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED7EA440-567F-45F4-9B07-DC253B1D2B75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1118175-496E-4207-91DC-810F004F75F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79659EFD-9725-4DED-97A4-A2350025298B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9F13870-4E80-49E5-BC1F-6556E7A5DA63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D475BD8A-8B09-40CC-9FD9-075B041C081A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE291FFF-668A-4C16-8934-7E107355FD2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1170BE95-A1FA-475B-B4E3-FF0D4237666E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B01061CB-D37F-4E05-BD64-1D56494D9C3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D316710-16A3-420B-BFC3-28346F6879A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B92ECFC3-4883-4D80-940F-3A17F40CFD8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDAA78B1-02EF-45FF-8C34-3E629ED7AF59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBC42058-3690-47BF-B8DC-DCF4E2CF50E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D589DEB0-0A41-46E2-B9BA-85551606A4C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF5DFB74-0451-4EF1-BF2E-A33D4F4E9B75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F6435BB-ACD5-4CE4-804F-61A01444327C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8DFB791-95C2-4C1A-8150-4C34956A8738</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E65D77C2-E350-4C7E-9AAE-AC403D8A9CC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8F98C5C-34BC-42B6-8D72-7571A227440D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2E6F198-9380-4437-983C-E13264F368EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2E6F198-9380-4437-983C-E13264F368EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE291FFF-668A-4C16-8934-7E107355FD2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D475BD8A-8B09-40CC-9FD9-075B041C081A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>067AE180-E80E-4CFA-BB84-BAA7104DC334</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D589DEB0-0A41-46E2-B9BA-85551606A4C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8F98C5C-34BC-42B6-8D72-7571A227440D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E50AFBB3-8E87-4A67-B98F-84E123C8BF7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61681EB8-51E9-42B0-8C75-3389B875D560</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E65D77C2-E350-4C7E-9AAE-AC403D8A9CC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF5DFB74-0451-4EF1-BF2E-A33D4F4E9B75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6CE3278-53A0-410E-94FD-8C5499A8FEB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>710670AA-2303-4C7B-83BE-8E62D6D4D27D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED7EA440-567F-45F4-9B07-DC253B1D2B75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8DFB791-95C2-4C1A-8150-4C34956A8738</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EDAA78B1-02EF-45FF-8C34-3E629ED7AF59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2CA8E3E-6825-4634-B6A0-994E60B17F99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1EF6D0B-C60E-497D-8B64-B281D49C8B2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AB40FA0-4F42-46A5-B99E-0B99E0D5F3E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2CA8E3E-6825-4634-B6A0-994E60B17F99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74792D98-3F07-40F1-8767-98B27C2BC515</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Python environment</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>ED7EA440-567F-45F4-9B07-DC253B1D2B75</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>E65D77C2-E350-4C7E-9AAE-AC403D8A9CC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>2F51B644-0478-43E3-8BAF-1148F6DCE974</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>6F6435BB-ACD5-4CE4-804F-61A01444327C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>D475BD8A-8B09-40CC-9FD9-075B041C081A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>9C55B308-2C59-48A7-990F-FA980AE355EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>~</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>067AE180-E80E-4CFA-BB84-BAA7104DC334</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>v -n .py</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C8DFB791-95C2-4C1A-8150-4C34956A8738</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Volumes/Data/Applications/iTerm2.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>3489ADDC-E099-45DA-9CD6-7B77CEF5C451</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>t</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>A9F13870-4E80-49E5-BC1F-6556E7A5DA63</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>BF5DFB74-0451-4EF1-BF2E-A33D4F4E9B75</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>playground</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Python Playground</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>79659EFD-9725-4DED-97A4-A2350025298B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>7AB40FA0-4F42-46A5-B99E-0B99E0D5F3E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>004E5F48-BE50-4110-A95C-4C9A372EDBC2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>B01061CB-D37F-4E05-BD64-1D56494D9C3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>E50AFBB3-8E87-4A67-B98F-84E123C8BF7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>BBC42058-3690-47BF-B8DC-DCF4E2CF50E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>E6CE3278-53A0-410E-94FD-8C5499A8FEB9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>A1118175-496E-4207-91DC-810F004F75F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>⇥</string>
				<key>keycode</key>
				<integer>48</integer>
				<key>keymod</key>
				<integer>524288</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>F1EF6D0B-C60E-497D-8B64-B281D49C8B2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>ipython</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>61681EB8-51E9-42B0-8C75-3389B875D560</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>1,$d</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>710670AA-2303-4C7B-83BE-8E62D6D4D27D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>d</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>7F4D309A-878C-4057-952B-4FE2B096ED04</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>.</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>131072</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>441DEA79-E71C-4E34-99B4-0786C3B74D74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>5D316710-16A3-420B-BFC3-28346F6879A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>EDAA78B1-02EF-45FF-8C34-3E629ED7AF59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>30F445DD-7F17-4A9A-BD3A-DC96B9E0AAA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>AE291FFF-668A-4C16-8934-7E107355FD2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>74792D98-3F07-40F1-8767-98B27C2BC515</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>C8F98C5C-34BC-42B6-8D72-7571A227440D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>import numpy as np
import pandas as pd</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D2E6F198-9380-4437-983C-E13264F368EA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>⎋</string>
				<key>keycode</key>
				<integer>53</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>1170BE95-A1FA-475B-B4E3-FF0D4237666E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>B92ECFC3-4883-4D80-940F-3A17F40CFD8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↓</string>
				<key>keycode</key>
				<integer>125</integer>
				<key>keymod</key>
				<integer>10485760</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>F2CA8E3E-6825-4634-B6A0-994E60B17F99</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>o</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>8A590333-7EFF-4334-8D4A-DCDD7B13C63D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>o</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>D589DEB0-0A41-46E2-B9BA-85551606A4C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>004E5F48-BE50-4110-A95C-4C9A372EDBC2</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>067AE180-E80E-4CFA-BB84-BAA7104DC334</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>1170BE95-A1FA-475B-B4E3-FF0D4237666E</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>2F51B644-0478-43E3-8BAF-1148F6DCE974</key>
		<dict>
			<key>xpos</key>
			<integer>735</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>30F445DD-7F17-4A9A-BD3A-DC96B9E0AAA1</key>
		<dict>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>3489ADDC-E099-45DA-9CD6-7B77CEF5C451</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>441DEA79-E71C-4E34-99B4-0786C3B74D74</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>5D316710-16A3-420B-BFC3-28346F6879A3</key>
		<dict>
			<key>xpos</key>
			<integer>1210</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>61681EB8-51E9-42B0-8C75-3389B875D560</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>6F6435BB-ACD5-4CE4-804F-61A01444327C</key>
		<dict>
			<key>xpos</key>
			<integer>1280</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>710670AA-2303-4C7B-83BE-8E62D6D4D27D</key>
		<dict>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>74792D98-3F07-40F1-8767-98B27C2BC515</key>
		<dict>
			<key>xpos</key>
			<integer>1020</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>79659EFD-9725-4DED-97A4-A2350025298B</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>7AB40FA0-4F42-46A5-B99E-0B99E0D5F3E6</key>
		<dict>
			<key>xpos</key>
			<integer>735</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>7F4D309A-878C-4057-952B-4FE2B096ED04</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>8A590333-7EFF-4334-8D4A-DCDD7B13C63D</key>
		<dict>
			<key>xpos</key>
			<integer>1075</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>9C55B308-2C59-48A7-990F-FA980AE355EB</key>
		<dict>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>A1118175-496E-4207-91DC-810F004F75F3</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>A9F13870-4E80-49E5-BC1F-6556E7A5DA63</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>AE291FFF-668A-4C16-8934-7E107355FD2D</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>B01061CB-D37F-4E05-BD64-1D56494D9C3C</key>
		<dict>
			<key>xpos</key>
			<integer>1140</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>B92ECFC3-4883-4D80-940F-3A17F40CFD8D</key>
		<dict>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>BBC42058-3690-47BF-B8DC-DCF4E2CF50E0</key>
		<dict>
			<key>xpos</key>
			<integer>1355</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>BF5DFB74-0451-4EF1-BF2E-A33D4F4E9B75</key>
		<dict>
			<key>xpos</key>
			<integer>1145</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>C8DFB791-95C2-4C1A-8150-4C34956A8738</key>
		<dict>
			<key>xpos</key>
			<integer>965</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>C8F98C5C-34BC-42B6-8D72-7571A227440D</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>D2E6F198-9380-4437-983C-E13264F368EA</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>D475BD8A-8B09-40CC-9FD9-075B041C081A</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>D589DEB0-0A41-46E2-B9BA-85551606A4C4</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>E50AFBB3-8E87-4A67-B98F-84E123C8BF7D</key>
		<dict>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>E65D77C2-E350-4C7E-9AAE-AC403D8A9CC1</key>
		<dict>
			<key>xpos</key>
			<integer>1095</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>E6CE3278-53A0-410E-94FD-8C5499A8FEB9</key>
		<dict>
			<key>xpos</key>
			<integer>935</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>ED7EA440-567F-45F4-9B07-DC253B1D2B75</key>
		<dict>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>EDAA78B1-02EF-45FF-8C34-3E629ED7AF59</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>F1EF6D0B-C60E-497D-8B64-B281D49C8B2A</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>F2CA8E3E-6825-4634-B6A0-994E60B17F99</key>
		<dict>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
