<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>42B2FB7E-61C4-460E-B486-2D609C17FEBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51035968-E3A3-4C3E-BDB0-136D19AC4E5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B023E9B-F18D-4582-B073-27CC86AABD49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5ED7CF5B-F7EE-4892-A1E5-01983C31AE0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51035968-E3A3-4C3E-BDB0-136D19AC4E5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>752737D0-180F-4C50-8DD7-0F61770B50DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A8B2419-3647-41E3-8B50-1A9BD38462FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42B2FB7E-61C4-460E-B486-2D609C17FEBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5ED7CF5B-F7EE-4892-A1E5-01983C31AE0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C35B8A78-9988-43E2-8594-7EFEFDF7C8F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>752737D0-180F-4C50-8DD7-0F61770B50DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DF7067B-878B-4B2B-AC8C-9CCA6DD616E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B518441-3DB0-44FD-82C0-2C2A7DA04AA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE74F678-56EB-4F80-959D-9AED4DCDFF10</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DCBF7B9-F12C-4886-BAB5-0B8CA3EF384A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBBE8493-C2EA-4BB4-9B0F-85199A9F2352</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DF7067B-878B-4B2B-AC8C-9CCA6DD616E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B023E9B-F18D-4582-B073-27CC86AABD49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB65EA9D-CB01-407C-AB97-7576F7280387</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A8B2419-3647-41E3-8B50-1A9BD38462FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE74F678-56EB-4F80-959D-9AED4DCDFF10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB65EA9D-CB01-407C-AB97-7576F7280387</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBBE8493-C2EA-4BB4-9B0F-85199A9F2352</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B518441-3DB0-44FD-82C0-2C2A7DA04AA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Folder in Terminal</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>CE74F678-56EB-4F80-959D-9AED4DCDFF10</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>5A8B2419-3647-41E3-8B50-1A9BD38462FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>51035968-E3A3-4C3E-BDB0-136D19AC4E5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>v</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>42B2FB7E-61C4-460E-B486-2D609C17FEBD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>open in terminal</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Folder in Terminal</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7DCBF7B9-F12C-4886-BAB5-0B8CA3EF384A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>c</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1572864</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>FBBE8493-C2EA-4BB4-9B0F-85199A9F2352</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Volumes/Data/Applications/iTerm2.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>7B518441-3DB0-44FD-82C0-2C2A7DA04AA7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>t</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>AB65EA9D-CB01-407C-AB97-7576F7280387</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>752737D0-180F-4C50-8DD7-0F61770B50DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>5ED7CF5B-F7EE-4892-A1E5-01983C31AE0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>8DF7067B-878B-4B2B-AC8C-9CCA6DD616E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>C35B8A78-9988-43E2-8594-7EFEFDF7C8F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>clear</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4B023E9B-F18D-4582-B073-27CC86AABD49</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>42B2FB7E-61C4-460E-B486-2D609C17FEBD</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>4B023E9B-F18D-4582-B073-27CC86AABD49</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>51035968-E3A3-4C3E-BDB0-136D19AC4E5D</key>
		<dict>
			<key>xpos</key>
			<integer>1045</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>5A8B2419-3647-41E3-8B50-1A9BD38462FA</key>
		<dict>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>5ED7CF5B-F7EE-4892-A1E5-01983C31AE0F</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>752737D0-180F-4C50-8DD7-0F61770B50DA</key>
		<dict>
			<key>xpos</key>
			<integer>1130</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>7B518441-3DB0-44FD-82C0-2C2A7DA04AA7</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>7DCBF7B9-F12C-4886-BAB5-0B8CA3EF384A</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>8DF7067B-878B-4B2B-AC8C-9CCA6DD616E8</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>AB65EA9D-CB01-407C-AB97-7576F7280387</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>C35B8A78-9988-43E2-8594-7EFEFDF7C8F2</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>CE74F678-56EB-4F80-959D-9AED4DCDFF10</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>FBBE8493-C2EA-4BB4-9B0F-85199A9F2352</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
